[user]
	name = gen
	email = gen0e0@gmail.com
[core]
  filemode = true
	editor = vim
    # 行末のLFをCRLFへ変換する (Windows用)
    autocrlf = input
	excludesfile = ~/.gitignore_global
[color]
	ui = auto
[push]
	default = current
[alias]
    br = branch
    ci = commit
    co = checkout
    st = status
    sh = show
    sb = show-branch
    df = diff
    l = log
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
